apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: app-cronjob
  namespace: web-scraper
spec:
  schedule: $SCHEDULE_TIME
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: cronjob
            image: alpine:3
            imagePullPolicy: IfNotPresent
            command: ["wget", "-O", "/dev/null", "-S", "app-svc:3000", "||", "true"]
          restartPolicy: Never
