apiVersion: v1
kind: ConfigMap
metadata:
  name: app-cm
  namespace: web-scraper
data:
  pageUrl: $PAGE_URL
  pageSelector: $PAGE_SELECTOR
  mailSubject: $MAIL_SUBJECT
  mailSenderName: $MAIL_SENDER_NAME
  mailHost: email-svc
  chromeHost: chrome-svc
  healthCheckUrl: $HEALTH_CHECK_URL
