apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: app-cronjob
  namespace: web-scraper
spec:
  schedule: $SCHEDULE_TIME
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        spec:
          containers:
          - name: cronjob
            image: alpine:3
            imagePullPolicy: IfNotPresent
            command: ["/bin/sh"]
            args: ["-c", "apk update && apk --no-cache add openssl wget && wget --tries=1 --timeout=600 -S -O- app-svc:3000"]
          restartPolicy: Never
